body {
    background-color: rgb(20, 21, 29);
    color: whitesmoke;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    text-align: center;
}

ul {
    line-height: 2.7rem;
}

li {
    list-style-type: none;
}

button {
    width: 5rem;
    background-color: antiquewhite;
    color: black;
    border: 2px solid aquamarine;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 700;
}

#preGame,
#gameOver,
#youWon {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#gameOver,
#youWon {
    display: none;
    margin-top: 15rem;
}

#scoreViewer {
    height: 3em;
    display: flex;
}

#stars,
#msg,
#muffins,
#bolt,
#fish {
    color: whitesmoke;
    width: 20vw;
    text-align: center;
    padding: 20px;
}

canvas {
    background-color: rgb(33, 40, 54);
    border: 2px solid whitesmoke;
}

#processTracker {
    display: flex;
}

#clock,
#distance {
    width: 50vw;
    text-align: center;
}