body {
    margin: 0 auto;
    background-color: rgb(20, 21, 29);
    background-size: cover;
    background-image: url('./images/9NY0HWl.jpg');
    color: whitesmoke;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 25px;
    text-align: center;
}

ul {
    line-height: 2.7rem;
}

li {
    list-style-type: none;
}

button {
    width: 5rem;
    padding: 10px;
    background-color: transparent;
    color: white;
    border: 2px solid wheat;
    font-weight: 700;
}

#preGame,
#gameOver,
#youWon {
    background-image: url('./images/parallax-space-backgound.png');
    background-size: cover;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


/* 
#instructions {
    background-color: rgb(20, 21, 29);
} */

#gameOver,
#youWon {
    display: none;
    margin-top: 15rem;
}

#scoreViewer {
    height: 3em;
    display: flex;
}

#stars,
#muffins,
#bolt {
    color: whitesmoke;
    width: 15vw;
    text-align: center;
    padding: 20px;
}

#msg {
    text-align: center;
    padding: 20px;
    width: 20vw;
}

#fish {
    padding: none;
    padding-top: 0.5em;
    width: 30vw;
}

p {
    width: 70vw;
}

canvas {
    background-color: rgb(33, 40, 54);
    background-image: url('./images/1024x1024\ Starfield\ 2.png');
    background-size: cover;
    background-repeat: no-repeat;
    border: 2px solid whitesmoke;
}

#processTracker {
    display: flex;
}

#clock,
#controlls {
    width: 40vw;
    text-align: center;
}

#mute {
    margin-left: 2rem;
}